extends ./share/container.pug
block config
    - var title = '企业资讯';
    - var keywords = '企业资讯';
    - var description = '企业资讯';
    - var currentId = 'news';
    - var mimgUrl = imgUrl+'news/';
block css
    link(rel='stylesheet',href=cssUrl + 'news.css')
block append main
    #activity_article
        .res_banner
            img.responsive(src=mimgUrl+"banner_bg.jpg", alt="")
            p 在寒冷的冬夜，给爱人和自己煮一杯热红酒
        .container
            h1 在寒冷的冬夜，给爱人和自己煮一杯热红酒
            p.time 2019.12.20
            .content
                p 热红酒，估计是冬季最潮流的饮品了。这种起源于欧洲的饮品，让人体验到新奇，也感觉到“温暖”。而且，口感又有些甜甜的，你说它是“红酒”吧，还感觉不到酒精味儿。第一次知道“热红酒”的时候，会有一个疑问，红酒，加热也能喝？我们都知道，白酒可以热饮、冷饮，红酒就适合在常温下饮用，16~18度。别说加热了，加温都不太行。热红酒跟红酒又不一样，它是要煮过喝的！这种看似反常规的喝法，背后是一种欧洲传统文化，有着将近两千年的历史。就好像苏格兰短裙，在我们的观念里，男人是不能穿裙子的，要是穿着走在路上，肯定被人笑话。但在苏格兰，那个芝华士、红方、黑方威士忌的故乡，他们的传统风俗，就是男人要穿裙子，这是苏格兰人的民族特色。每个看似反常的做法，背后都有一段故事。
                p 那热红酒是什么？热红酒，可能是世界上，拥有名字最多的酒精饮料。它几乎在各国都有不同的名字。英国人管它叫 Mulled Wine，德国人叫 Glühwein，在挪威丹麦的叫法又是 Nordic glögg，法国人呢，称呼它 Vin Chaud，到了意大利还叫 Vin Brulé。往红酒中，加入糖、香料，还有水果，放在一起煮，做成的饮料，就是热红酒。我们通常还叫它，香料热红酒。#[br]这时要说到热红酒的起源！红酒的历史，大多跟军事战争有关。酒精既能让人兴奋、忘记痛苦，还能加热御寒，促进血管循环。这也是最开始的热红酒。
                p 我翻阅了一下资料，据说，在公元2世纪，是罗马人发明的热红酒。他们会在寒冷的冬天用热红酒来取暖，那时，罗马人在欧洲大陆上到处征战，打仗到了北欧，冬季寒冷，士兵们为了御寒，索性把红酒加热后饮用。这一喝法，随着他们四处征伐，扩散到整个欧洲，他们的红酒也遍布了整个帝国，变成了重要的贸易商品。欧洲人也开始对热红酒开始有了解。中世纪的时候红酒产量持续增长，欧洲黑死病、瘟疫也开始横行，当时人们喜欢把热红酒和香料混合在一起，他们相信这样会促进健康，也会用草药和鲜花作为天然甜味剂让红酒的味道很好。这时的热红酒，已经从“御寒”中脱离开来，开始成为“药用”良方。因为当时的医疗条件差，酒精就是最好的药物，欧洲人认为喝热红酒，能防治疾病，保护自己。随着时间的推移，热红酒慢慢没有那么流行了，除了瑞典，因为那里天气比较冷，反而人气更高。热红酒的重新流行是在19世纪90年代，glögg成为圣诞节的饮料，随后全欧洲各地的葡萄酒商人都有独特的配方，有许多的酒瓶上有他们独自设计的圣诞老人。后来的故事我们都知道了，热红酒已经成为一个全球性的饮料，各国人一起创造不同的热红酒。
                div
                    img(src=mimgUrl+"article7.jpg", alt="")
                    img(src=mimgUrl+"article8.jpg", alt="")
                    img.mr0(src=mimgUrl+"article9.jpg", alt="")
                p 在我们中国，热红酒只是作为一种新潮的饮品，但在欧美西方，热红酒的地位，能够上升到文化的高度。它是作为欧洲传统风俗的一种，融入在每个人的生活。热红酒文化，是西式文化的一部分。就好像中国的茶水文化，吃饭前喝一杯、客人到访泡一杯、休息时喝一杯，悄无声息地占据了我们的日常生活。#[br]一到冬天，欧洲人几乎离不开热红酒。不过，这也能感同身受。在寒冷下雪天，手脚冻得僵硬，喝上一杯热红酒，阵阵暖流，通往全身，直至心房，再也没有比这，更让人舒心的了。（北方会有热的姜汁可乐，也非常御寒）在欧洲传统家庭，过平安夜的方式之一，就是喝热红酒。柴火烧通红的壁炉，洋溢喜庆的圣诞旋律，旁边再是一颗挂满礼物的圣诞树，家人们团聚一起，做过弥撒后，倒上香料热红酒，期待新年的到来。
            ol.nav
                li #[a(href=viewUrl+"activity_article2.html") 下一篇 | 无锡梦想天地开展扫黑除恶专项斗争专题学习会]
                li #[a(href=viewUrl+"activity_article4.html") 下一篇 | 不忘初心，Jolpa'餐厅两周年]
block append js