extends ./share/container.pug
block config
    - var title = '线下店铺';
    - var keywords = '线下店铺';
    - var description = '线下店铺';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #shop
        .banner_container
            img.responsive.banner(src=mimgUrl+"banner1.jpg", alt="")
        .container
            .navbar
                a(href=viewUrl+'shoppage1.html')
                    img(src=mimgUrl+"nav1.png", alt="")
                a(href=viewUrl+'shoppage2.html')
                    img(src=mimgUrl+"nav2.png", alt="")
                a(href=viewUrl+'shoppage3.html')
                    img(src=mimgUrl+"nav3.png", alt="")
                a(href=viewUrl+'shoppage4.html')
                    img.last(src=mimgUrl+"nav4.png", alt="")
            .map
                img.responsive(src=mimgUrl+"map.png", alt="")
                img.icon1.icon(src=mimgUrl+"tip1.png", alt="")
                img.icon2.icon(src=mimgUrl+"tip2.png", alt="")
                img.icon3.icon(src=mimgUrl+"tip3.png", alt="")
                img.icon4.icon(src=mimgUrl+"tip4.png", alt="")
                h2.tips.double 项目地址：杭州市江干区四季青街道新业路 228 号来福士中心 6 层#[br]联系电话：0571-85022988
                h2.tips 项目地址：扬州市广陵区文昌东路9号广陵公共文化中心
                h2.tips.double 项目地址：无锡市梁溪区人民中路86号#[br]联系电话：0510-82827700
                h2.tips 项目地址：宁波市江北区大闸南路501号1-1
block append js
    script.
        $(function(){
            $('.icon').click(function(){
                var index = $(this).index()-1;
                animate(index,this);
            })
            $('.navbar img').mouseenter(function(){
                var index = $(this).parent().index();
                animate(index,this);
            })
            $('#shop .navbar img').eq(0).mouseenter();
            
            function animate(index,_that){
                var imgIndex = index+1;

                $('#shop .banner').attr('src',"#{mimgUrl}banner"+ imgIndex +".jpg");
                $('.navbar img').removeClass('active');
                $(_that).addClass('active');
                $('.map .icon').removeClass('active');
                $('.map .icon').each(function(i,item){
                    var imgSrc = $(this).attr('src');
                    if(index === i){
                        $(this).addClass('active');
                        imgSrc = imgSrc.replace('tip'+ imgIndex +'.png','tip'+ imgIndex +'_active.png');
                    }else{
                        imgSrc = imgSrc.replace('tip'+ (i+1) +'_active.png','tip'+ (i+1) +'.png');
                    }
                    $(this).attr('src',imgSrc);
                })


                $('#shop .tips').hide();
                $('#shop .tips').eq(index).show();
            }
        })