extends ./share/container.pug
block config
    - var title = '艺术课程';
    - var keywords = '艺术课程';
    - var description = '艺术课程';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
    -
        var list = [
            {href:'artpage.html',text:'轻手作'},
            {href:'art.html',text:'海娜手绘'},
            {href:'art.html',text:'沙画课'},
            {href:'art.html',text:'越剧'},
            {href:'art.html',text:'艺术课程组合'},
            {href:'art.html',text:'壁画'},
            {href:'art.html',text:'茶艺'},
            {href:'art.html',text:'插画'},
            {href:'art.html',text:'花艺'},
            {href:'art.html',text:'书法'},
            {href:'art.html',text:'油画'},
            {href:'art.html',text:'国画'},
            {href:'art.html',text:'幼儿艺术启蒙课程'},
            {href:'art.html',text:'少儿基础油画课程'}
        ];
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #course2
        img.responsive(src=mimgUrl+"banner9.jpg", alt="")
        .container
            p.tips 生活是一蔬一饭的日常，是一花一木的风雅，亦是一期一会的珍惜
            p.tips 鉴赏生活里头的风物，亦伴你探究生活无边的风采
            .title
                img(src=mimgUrl+"icon.png", alt="")
                span 风物研究所
                img(src=mimgUrl+"icon.png", alt="")
            .content
                each val, index in list
                    a(href=viewUrl+val.href class=(index%3 == 0)?'ml0 clear':'')
                        img(src=mimgUrl+"art"+(index+1)+".jpg", alt="")
                        p #{val.text}
                a(href='#') #[img(src=mimgUrl+"more.png", alt="")]
block append js