extends ./share/container.pug
block config
    - var title = '企业资讯';
    - var currentId = 'news';
    -
        var nlist = [
                {title:'教育品类集合店',img:'brand1.jpg',des:'针对购物中心运营商，EDU MALL力争成为可比肩MUJI、IT等兼具品牌影响力、优质商品、尖端店铺形象的集合店品牌，凭借强大的品牌价值、引流效应、付租潜能，成为商业地产业界追逐的教育品类集合店。'}, 
                {title:'教育娱乐产品运营商',img:'brand2.jpg',des:'用经营购物中心和集合店的方式和理念来销售教育产品，通过提供高水平的引流、推广等销售支持，高品质的物业及管理服务，以及市场开发和品牌增值的超值辅助，成为为教育机构所需要的、市场领先的教育娱乐产品运营商。'}, 
                {title:'一站式教育消费空间',img:'brand3.jpg',des:'用购物中心和集合店的方式和理念来服务顾客，一站式的舒适便捷、高端升级的消费体验、课程挑选、认证的买手服务、生活方式的引领、直至延伸商品的整合提供，帮助EDU MALL获得消费者认可和青睐。'}
            ];
block css
    link(rel='stylesheet',href=cssUrl + 'brand.css')
block append main
    #brand
        img.responsive(src=imgUrl+"banner.jpg", alt="")
        .container
            .sidebar
                dl.nav
                    dt 自主品牌
                    each val, index in header.nav[2].subnav
                        dd #[a(href=val.href) #{val.text}]
            .content
                h1 梦想天地介绍
                p EDUMALL梦想天地打造全新体验式场景与互动消费相结合的文创教育集合店，根据市场消费需求、客户消费习惯及业态空间需求，创造性地将教育、文创、美学、运动、科技以及配套服务等诸多领域内容融为一体，寓消费于体验，寓体验于互动，全面提升消费体验。
                p 开设于国内一、二线城市的中心位置及高级购物中心内，以高端的、场景化的分时共享空间、线上线下以内容为核心的推广营销，令广泛的内容资源供应端，与正在兴起的知识消费市场，实现最为简单、易获得的全面对接。共享空间，共享人群，价值引导、社群维护……一个国内前所未有的，充满青年学术气息和欢乐氛围的综合教育服务平台，令教与学，从此简单。
                h1 核心优势
                ol.list
                    each nval, nindex in nlist
                        li
                            img(src=imgUrl+nval.img)
                            .list
                                h2.title #{nval.title}
                                p.des #{nval.des}
                h1 目标客群
                p 出入城市中心/高级购物中心的城市新兴中产阶级和80年后愿意为兴趣爱好买单的年轻群体，受到众多服务机构与零售品牌共同认可和青睐的目标人群。
                p 以创设具备深度/垂直行销力的、彰显优越生活的课程/活动为核心，为众多品牌、IP提供事件营销的载体，追求最广泛、最高效的CO-BRANDING联合营销。
                p 国内商业发展一、二线城市的都市消费群体年龄层从13—60岁，主力客群23—45岁。
                p 中产以上家庭、白领、精英以及愿意为自己的兴趣爱好买单的新生族群。
                h1 我们在哪
                p 杭州店地址：浙江省杭州市江干区钱江新城新业路228号来福士中心6楼
                p 苏州店地址：江苏省苏州市虎丘区狮山路龙湖时代天街4楼

            #page.page_div
block append js
        script(src=jsUrl+"sidepage.js")