extends ./share/container.pug
block config
    - var title = '时尚课程';
    - var keywords = '时尚课程';
    - var description = '时尚课程';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
    -
        var list = [
            {href:'fashonpage.html',text:'美妆课'},
            {href:'fashon.html',text:'沙画课'},
            {href:'fashon.html',text:'时尚造型'},
            {href:'fashon.html',text:'时尚造型'},
            {href:'fashon.html',text:'轻手作系列'},
            {href:'fashon.html',text:'轻手作'},
            {href:'fashon.html',text:'果酒酿造'},
            {href:'fashon.html',text:'刺绣艺术'},
            {href:'fashon.html',text:'造型课'},
            {href:'fashon.html',text:'趣味魔方'},
            {href:'fashon.html',text:'形体课'},
            {href:'fashon.html',text:'美丽修行'}
        ];
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #course2
        img.responsive(src=mimgUrl+"banner6.jpg", alt="")
        .container
            p.tips 在潮流中捕捉经典，在经典中捧出潮流
            p.tips 展示大时代的时尚风格，更新你的个人穿搭型录
            .title
                img(src=mimgUrl+"icon.png", alt="")
                span 时尚羽光流
                img(src=mimgUrl+"icon.png", alt="")
            .content
                each val, index in list
                    a(href=viewUrl+val.href class=(index%3 == 0)?'ml0 clear':'')
                        img(src=mimgUrl+"fashion"+(index+1)+".png", alt="")
                        p #{val.text}
block append js