extends ./share/container.pug
block config
    - var title = '线下店铺';
    - var currentId = 'shop';
block css
    link(rel='stylesheet',href=cssUrl + 'friend.css')
block append main
    #friend
        img.responsive(src=imgUrl+"banner_friend.jpg", alt="")
        .container
            ul
                li 合作方式
                li.middle 合作政策
                li 合作对接
            .content
                .first
                    h1 合作对接
                    .tips 联系电话：021-6588-2888
                    .code
                        .erweibox
                            img(src=imgUrl+"code.jpg", alt="")
                            p 官方微信公众号
                        .erweibox.marginleft20
                            img(src=imgUrl+"code.jpg", alt="")
                            p 官方微信小程序
                    p.number Cooperation and docking
                .second
                    h1 合作方式  商家入驻 \ 活动场地 \ 内容开发 \ 商务洽谈
                    p.title 商家入驻
                    p.des 根据商家需求，提供不同规格及大小空间，为各类商家提供优质场地解决方案
                    p.title 活动场地
                    p.des 为企业用户提供各类定制活动与服务
                    p.title 内容开发
                    p.des 课题、主题活动、培训分享、培训项目等，一个充满青年学术气息和欢乐氛围的知识共享空间，让教与学变得简单
                    p.title 商务洽谈
                    p.des CBD商圈、顶级场地服务，结合餐饮、娱乐、体验等元素，让商务洽谈更轻松。
                    p.number Cooperation and docking
                .last
block append js
        script(src=jsUrl+"friend.js")