extends ./share/container.pug
block config
    - var title = '自主品牌';
    - var keywords = '自主品牌';
    - var description = '自主品牌';
    - var currentId = 'brand';
    - var mimgUrl = imgUrl+'brand/';
    - var type = "jolpa'";
block css
    link(rel='stylesheet',href=cssUrl + 'brand.css')
block append main
    #brand
        img.responsive(src=mimgUrl+"banner4.jpg", alt="")
        .container
            .sidebar
                dl.nav
                    dt 自主品牌
                    each val, index in header.nav[2].subnav
                        dd(class=(type == val.text)?'active':'') #[a(href=val.href) #{val.text}]
            .content
                h1.margintop0 Jolpa'
                p JOLPA'餐厅是EDUMALL梦想天地的原创餐厅。JOLPA'的创立灵感来源于电影作品《星际迷航》。快速发展的都市犹如在太空中掠过的飞船。快速的都市发展衍生了无数种生活方式，每一种生活方式的背后都有着消费者独特的创造力、品味和需求。#[br]在饮食这件事上，JOLPA'希望给都市人群带去更多的自主创造、艺术与科学兼具的体验。致力于将健康、营养和激情通过饮食带给每一位精致饕客。
                h1 JOLPA'餐厅环境
                ul.imgbox
                    li #[img(src=mimgUrl+"pic14.png", alt="")]
                    li.mr0 #[img(src=mimgUrl+"pic15.png", alt="")]
                    li #[img(src=mimgUrl+"pic16.png", alt="")]
                    li.mr0 #[img(src=mimgUrl+"pic17.png", alt="")]
                h1 我们在哪
                p 杭州市新业路228号来福士中心6楼EDUMALL梦想天地内
                h1 服务项目
                p #[a(href="#") 课程体验]丨#[a(href="#") 公司团建]丨#[a(href="#") 客户答谢]丨#[a(href="#") 节日派对]#[br]#[a(href="#") 亲子活动]丨#[a(href="#") 职场分享]丨#[a(href="#") 干货培训]丨#[a(href="#") 产品发布]#[br]#[a(href="#") 场地租赁]丨#[a(href="#") 展览展销]丨#[a(href="#") 方案策划]丨#[a(href="#") 餐饮服务]等