extends ./share/container.pug
block config
    - var title = '音乐课程';
    - var keywords = '音乐课程';
    - var description = '音乐课程';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
    -
        var list = [
            {href:'musicpage.html',text:'爵角音乐-音乐专业全年课程班（48节）'},
            {href:'music.html',text:'古琴&nbsp&nbsp周一周四 A班'},
            {href:'music.html',text:'古琴&nbsp&nbsp周二周五 B班（12节）'},
            {href:'music.html',text:'古琴&nbsp&nbsp每周五晚 C班'},
            {href:'music.html',text:'古琴&nbsp&nbsp周六 D班（12节）'},
            {href:'music.html',text:'古琴&nbsp&nbsp周六 E班（12节）'},
            {href:'music.html',text:'爵角音乐-音乐专业全年45课（45节）'},
            {href:'music.html',text:'音乐专业班 1元预约'},
            {href:'music.html',text:'爵角音乐-聚会明星养成计划（10节）'},
            {href:'music.html',text:'璞提书院—周艳老师戏曲（10节）'}
        ];
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #course2
        img.responsive(src=mimgUrl+"banner7.jpg", alt="")
        .container
            p.tips 集合音乐大咖，传递世间音乐
            p.tips 懂了音乐再出发，即便走很远的路，灵魂也不会干渴
            .title
                img(src=mimgUrl+"icon.png", alt="")
                span 百匠音乐汇
                img(src=mimgUrl+"icon.png", alt="")
            .content
                each val, index in list
                    a(href=viewUrl+val.href class=(index%3 == 0)?'ml0 clear':'')
                        img(src=mimgUrl+"music"+(index+1)+".png", alt="")
                        p !{val.text}
                a(href='#') #[img(src=mimgUrl+"more.png", alt="")]
block append js