extends ./share/container.pug
block config
    - var title = '线下店铺';
    - var currentId = 'shop';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    - var mimgUrl = imgUrl+'shop/';
    #shoppage1
        img.responsive(src=mimgUrl+"banner1.jpg", alt="")
        .container
            .box
                img(src=mimgUrl+"nav1.png", alt="")
                img(src=mimgUrl+"nav2.png", alt="")
                img(src=mimgUrl+"nav3.png", alt="")
                img.last(src=mimgUrl+"nav4.png", alt="")
            img.map(src=mimgUrl+"map.png", alt="")
block append js
        script(src=jsUrl+"sidepage.js")