extends ./share/container.pug
block config
    - var title = '线下店铺';
    - var keywords = '线下店铺';
    - var description = '线下店铺';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #shop
        img.responsive(src=mimgUrl+"banner1.jpg", alt="")
        .container
            .box
                a(target='_blank' href=viewUrl+'course.html')
                    img(src=mimgUrl+"nav1.png", alt="")
                a(target='_blank' href='#')
                    img(src=mimgUrl+"nav2.png", alt="")
                a(target='_blank' href='#')
                    img(src=mimgUrl+"nav3.png", alt="")
                a(target='_blank' href='#')
                    img.last(src=mimgUrl+"nav4.png", alt="")
            img.map(src=mimgUrl+"map.png", alt="")
block append js
    script.
        $(function(){
            $('.box img').click(function(){
                var index = $(this).index();
                $('#shop .responsive').attr('src',"#{mimgUrl}banner"+ (index+1) +".jpg");
            })
            $('ul li').eq(0).click();
        })