extends ./share/container.pug
block config
    - var title = '运动课程';
    - var keywords = '运动课程';
    - var description = '运动课程';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #coursepage.sport
        img.responsive(src=mimgUrl+"banner14.jpg", alt="")
        .container
            .tips
                p 卢文锦咏春拳已经遍及世界50多个国家
                p 傅庆华老师每日带领着咏春拳弟子伴随日出日落武练
                p 把天地正气吸附身体之中
                p 真正地把咏春的传承行动在一挥一舞之中
            table.panel
                tr
                    td.pic
                        img(src=mimgUrl+"sportpage1.jpg", alt="")
                    td.text
                        h2.title 所得
                        .des
                            p 学习本门课程，可以对本门咏春拳的历史、传承有一个初步了解，对咏春拳内涵的防身、养生功效有一定的体会，在日常生活中，能够将咏春拳中的哲学思想，加以发挥应用，提高自己的工作、生活质量。
            .slogan
                p 咏春拳所使用的招式，都是我们日常用于自卫自保的本能反应动作，既不神秘，也不华丽。
                p 我们只是在此基础上加以总结、并通过系统练习，成为我们连贯的技术应用，“以打为消、连消带打”，以此达到高度自保效果。
                p ——叶问
            .ask
                p 在哪能修习到正宗的叶问系咏春？
                p.ans 当然是直接和叶问系咏春传人修习。
            table.panel
                tr
                    td.text
                        h2.title 卢文锦咏春
                        .des
                            p 属于叶系咏春拳，是一代宗师叶问亲外甥，1950年跟随叶春，后进入台湾军警系统，担任多国部队军警教官，也是台湾SWAT创队教官。一生致力于咏春拳推广，目前已有50多个国家设立分会。
                    td.pic
                        img(src=mimgUrl+"sportpage2.jpg", alt="")
            table.panel3.md2
                tr
                    td.title - 实 战 -
                tr
                    td.des 卢文锦师父虽然与其它叶问弟子同一师门，但卢文锦师父曾经有一段军旅经历，现如今仍辗转于各特种部队教拳。因此，在卢文锦咏春中有许多其它支系没有的擒敌术，丰富了实战的内容。
            table.panel3.md2.mr0
                tr
                    td.title - 内 涵 -
                tr
                    td.des 在本门中有许多高学历、高素质的同门，他们在卢文锦师父的带领下，对咏春拳的人体结构学、力学等反复钻研，在传授时，能够使用更科学、易懂的语言去讲述，让学的人能够更好的吸收这门功夫中内涵的知识。
            table.panel3
                tr
                    td.title - 课 程 内 容 -
                tr
                    td.des.padding5
                        p #[span 套路]&nbsp&nbsp&nbsp&nbsp 小念头、寻桥、标指拳套、木人桩、六点半棍、八斩刀（每一个动作分为做法、结构、用法三个层次的传授）
                        p #[span 对练]&nbsp&nbsp&nbsp&nbsp 敲三星、冲拳、接手、护手、拍打、绑手挂锤、绑手拍打、单黐手、盘手、碌手、双黐手、离手实战对练
                        p #[span 功力]&nbsp&nbsp&nbsp&nbsp 冲拳、指力、腕力、核心力量、踢腿、防守反应、协调性、抗击打、步法。
            .panel3
                .title - 阶 段 目 标 -
                .des.padding5.h455
                    h2 第一年（共约100课时）
                    p 进行小念头动作及结构的学习，该阶段，小念头的动作已经初步具备结构，能调整身体结构，具备一定的防守和进攻意识，熟悉基础对练，进入黐手实战初级阶段。
                    h2 第二年（共约200课时）
                    p 进行黐手及对练的提高，通过黐手提高小念头的实战应用，具备一定的实战能力，领会咏春拳内在核心理念。
                    h2 第三年（共约300课时）
                    p 进行寻桥动作及实战应用的学习，该阶段完成后，寻桥的动作已经初步具备结构，进入黐手中级阶段，能够放松，能用触觉感受对手的力量和结构。
            .bot
                p #[span 费&nbsp&nbsp&nbsp&nbsp用] ￥8000/年
                p.mr0 #[span 人数要求] 为保证上课质量，小班化教学（20人以内）
                p #[span 时间安排] 每周周三18:50-20:30，周日15:30-17:00
                p.mr0 #[span 授课地址] 杭州江干区 来福士广场6楼 edumall
block append js
        script(src=jsUrl+"sidepage.js")