extends ./share/container.pug
block config
    - var title = '运动课程';
    - var keywords = '运动课程';
    - var description = '运动课程';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
    -
        var list = [
            {href:'sportpage.html',text:'青少年咏春班（1年）'},
            {href:'sport.html',text:'太极拳'},
            {href:'sport.html',text:'自由搏击'},
            {href:'sport.html',text:'成人咏春班（1年）'},
            {href:'sport.html',text:'芳香心瑜伽正课（20节）'},
            {href:'sport.html',text:'剑道一季度'},
            {href:'sport.html',text:'合气道报名预约（弘源武道）'},
            {href:'sport.html',text:'1元报名空手道享开课提醒'}
        ];
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #course2
        img.responsive(src=mimgUrl+"banner8.jpg", alt="")
        .container
            p.tips 汇聚古今中外的运动与健身之法。
            p.tips 锻炼意志，柔韧身心，提升精、气、神。
            .title
                img(src=mimgUrl+"icon.png", alt="")
                span 身心锻炼馆
                img(src=mimgUrl+"icon.png", alt="")
            .content
                each val, index in list
                    a(href=viewUrl+val.href class=(index%3 == 0)?'ml0 clear':'')
                        img(src=mimgUrl+"sport"+(index+1)+".png", alt="")
                        p #{val.text}
                a(href='#') #[img(src=mimgUrl+"more.png", alt="")]
block append js