extends ./share/container.pug
block config
    - var title = '企业资讯';
    - var keywords = '企业资讯';
    - var description = '企业资讯';
    - var currentId = 'news';
    - var mimgUrl = imgUrl+'news/';
block css
    link(rel='stylesheet',href=cssUrl + 'news.css')
block append main
    #activity_article
        .res_banner
            img.responsive(src=mimgUrl+"banner_bg.jpg", alt="")
            p 不忘初心，Jolpa'餐厅两周年
        .container
            h1 不忘初心，Jolpa'餐厅两周年
            p.time 2019.09.27
            .content
                p 看好的衣服没有抢到，刚买的鞋被踩了一脚，谈好的客户临时变卦，朋友想聚会但加班在召唤，说好减肥肚子永远在饿，都说众生皆苦，何为甜？那就是专属对你的宠爱 ，Jolpa’餐厅2周年庆 ，店庆福利，如约来袭！
                p Jolpa’餐厅是谁？#[br]一直以来，Jolpa’餐厅是以新鲜的食材，西式的烹饪手法及精美的摆盘为制作基调的快捷餐厅。给EduMall 的每一名老师和学员提供最便利且最精美的简式西餐让每位顾客在分享或者获得知识的同时，把美味送进嘴中。同时，jolpa’餐厅励志做餐饮文化的传播者，以服务为核心，以菜品来源为基础，把美式文化和教育氛围也体现到餐厅中。也是呼应了EduMall的知识分享的愿景。
                div
                    img(src=mimgUrl+"article10.jpg", alt="")
                    img(src=mimgUrl+"article11.jpg", alt="")
                    img.mr0(src=mimgUrl+"article12.jpg", alt="")
                p Jolpa’餐厅的名字由来#[br]Jolpa’取自于著名电影作品《星际迷航》中克林贡种族的语言。在星际迷航前期的作品中，克林贡语只是一种特定的符号，并没有实际的语言系统，但就在星迷爱好者不断对自我兴趣的放大过程中，克林贡语有了自己的词典，并成为了正式的语言。在美国场景喜剧《生活大爆炸》中，同样是对知识无比痴迷的一群年轻人他们生活和学习的场景是我们餐厅希望传达的一种生活方式，让美食成为你研究兴趣过程中的一味伴侣。
                p Jolpa’都有谁#[br]黄 弋，Jolpa’餐厅主厨，从业厨师行业18年，担任五星级酒店的长期主厨。#[br]杨 刚，曾是糖印甜品创始人之一，现Jolpa’餐厅负责人
                p 2周年活动详情#[br]活动时间：即日起—10月7日#[br]活动地点：杭州市江干区来福士中心6楼  Jolpa’餐厅#[br]活动内容：#[br]1.在自己的朋友圈里，发布Jolpa’两周年店庆海报图片（正常发布不屏蔽），即可在门店免费领取价值23元的爆柠红茶。#[br]2.新款法式甜品上市，购买甜品+1元，即可获得价值15元的冰爽柠檬蜜。#[br]3.2周年店庆活动期间内，凡是在店内购买果茶和沙拉，即可马上变大，增量！
                p 当一个吃货对另一个吃货说：“我们一起去吃美食”的时候，一种天然的默契就会像烟花一样在他们的头顶绽放，两双满含“口水”的眼睛闪闪发亮。我们在Jolpa’餐厅等你哟～
            ol.nav
                li #[a(href=viewUrl+"activity_article3.html") 上一篇 | 在寒冷的冬夜，给爱人和自己煮一杯热红酒]
                li #[a(href=viewUrl+"activity.html") 下一篇 | 将平淡无奇的一天变成无可替代的回忆]
block append js