extends ./share/container.pug
block config
    - var title = '联系我们';
    - var keywords = '联系我们';
    - var description = '联系我们';
    - var currentId = 'joinus';
    - var mimgUrl = imgUrl+'joinus/';
block css
    link(rel='stylesheet',href=cssUrl + 'joinus.css')
block append main
    #joinus
        .banner_container
            img.responsive(src=mimgUrl+"banner1.jpg", alt="")
        .container
            ul
                li 商务合作
                li 人才招聘
            .content
                div.business
                    h1 合作方式
                    .message
                        .pagination.fl
                            div.marginbottom
                                h2 &#62; 商家入驻
                                p E-mail：baosiwang@edumallgh.com
                            div
                                h2 &#62; 内容开发
                                p E-mail：anpengjuan@edumallgh.com
                        .pagination.fr
                            div.marginbottom
                                h2 &#62; 活动场地
                                p E-mail：tenglong@edumallgh.com
                            div
                                h2 &#62; 商务洽谈
                                p E-mail：chenyanji@edumallgh.com
                    img(src=mimgUrl+"pic.jpg", alt="")
                div.job
                    .title 工作地点-上海
                    div.chapter
                        div
                            h2 法务经理
                            p.english LEGAL MANAGE
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
                        div
                            h2 创意设计
                            p.english CREATIVE DESIGN
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
                    div.chapter
                        div
                            h2 法务经理
                            p.english LEGAL MANAGE
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
                        div
                            h2 创意设计
                            p.english CREATIVE DESIGN
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
                    .title 工作地点-扬州
                    div.chapter
                        div
                            h2 店   总
                            p.english SHOP CHIEF
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
                        div
                            h2 新媒体运营
                            p.english NEW MEDIA OPERATION
                            p E-mail
                            p.email wangliangqian@dcstar.com.cn
                            button.more 详情&nbsp&#62;
    .mask
        .cover
            h1 法务经理
            .line
            .english LEGAL MANAGE
            img.close(src=mimgUrl+"close.png", alt="")
            .content
                .chapter
                    h2 合作方式:
                    p 1、负责撰写和审核公司内外各类协议与合同以确保符合法规要求，降低和避免经营活动中的风险；
                    p 2、负责拟定项目收购、股权转让、融资合作相关框架、股权转让协议、章程等相关法律文件；
                    p 3、起草、审核公司旗下项目开发建设阶段各类合同，包括商业租赁合同、总包合同、各类工程分包合同、工程采购合同等相关法律文件；
                    p 4、参加相关的项目谈判，预防和控制合同履行中可能产生的相关法律风险为公司的重大经营管理活动提供法律支持及合规建议；
                    p 5、协助处理公司日常运营相关的法律事务，包括但不限于劳动、知识产权以及合规；
                    p 6、协助处理公司运营过程中可能产生的相关纠纷，包括诉讼和仲裁；
                    p 7、建立和维护与公司运营相关的合同模板及法律规章制度数据库。
                .chapter
                    h2 任职要求：
                    p 1、全日制本科及以上学历，法学、法律相关专业，3年以上相关工作经历；
                    p 2、熟悉公司法、合同法、劳动法等法律法规并能实际运用；
                    p 3、有较强的文字书写能力，能够独立起草、修改各类法律文书；
                    p 4、有商业运营或商业地产行业工作经验优先考虑；
                    p 5、诚实守信、亲和力强,良好的服务意识。

block append js
    script.
        $(function(){
            var list = [{
                id:0
            }];
            $('#joinus ul li').click(function(){
                var index = $(this).index();
                $(this).addClass('active').siblings().removeClass('active');
                $('.content>div').eq(index).show().siblings().hide();
                $('#joinus .responsive').attr('src',"#{mimgUrl}banner"+ (index+1) +".jpg");
            })
            $('#joinus ul li').eq(0).click();
            $('.close').click(function(){
                $('.mask').hide();
            })
            $('.more').click(function(){
                var id = $(this).data("id");
                for(var i = 0;i<list.length;i++){
                    if(id === list[i].id){
                        $(".mask h1").text();
                        $(".mask .english").text();
                        $(".mask content").text();
                    }
                }
                $('.mask').show();
            })
        })