extends ./share/container.pug
block config
    - var title = '集团资讯';
    - var keywords = '集团资讯';
    - var description = '集团资讯';
    - var currentId = 'news';
    - var mimgUrl = imgUrl+'news/';
block css
    link(rel='stylesheet',href=cssUrl + 'news.css')
block append main
    #news_article
        .res_banner
            img.responsive(src=mimgUrl+"banner1.jpg", alt="")
            p 无锡重磅，首家知识共享社区梦想天地来了！
        .container
            .time  2019-09-26 14:58:13 浏览量466
            .content
                p 在这里，你看到的”共享”，将是一个更精彩的概念。在无锡这被互联网高度覆盖的城市，“共享”早就成为了人们生活的日常。除了圈地兴起的彩色单车共享雨伞、充电宝亦屡见不鲜。如果还有一个能让人大喊过瘾、戳中心声的共享产物，毫无疑问，那必须是知识共享！试问这年头，还能有比学习新知识、探索新领域、挖掘新可能更激活身体细胞，刺激感官的吗？不存在的！
                img.responsive(src=mimgUrl+"activity1.jpg", alt="")
                p 在EDU MALL梦想天地，你体验的”共享”，将是一个更Amazing的概念：共享的，是城市中央沉浸式学习社区，是优质精选的知识技能，更是精致优越的生活方式。便捷、高效的知识交流与技能学习，让我们为人生解锁新模式，加足马力朝着理想生活发车！
                img.responsive(src=mimgUrl+"activity2.jpg", alt="")
                p 秉承共享无疆界、知识进阶生活的理念，EDU MALL梦想天地，作为一个国内前所未有的，充满学术气息和欢乐氛围的综合教育服务平台，将令教与学，变得SO EASY想学？想教？无需犹豫，you can you up！
                p 位居城市黄金商圈，EDU MALL梦想天地在高端商城一隅，打造了一处沉浸式的共享空间。教学空间由以EDU LIBRARY 为核心的主题街区、战略联盟培训机构教学点、场景式分时共享的专业教室构成。在这种五星好评的环境下学习，想想都是妙事一桩。
                img.responsive(src=mimgUrl+"activity3.jpg", alt="")
                p EDU MALL 通过整合名人名家、专业达人、网络大咖、专业机构、社群互动等资源力量推出的各类创新课程，你将接触到如米其林大厨tips，潮咖教你画国画，著名律师传授职场与生活所需法律利器，超帅剑道老师指导剑之道，还有古乐大师教你轻挑慢捻古曲之妙……精选课程，无奇不有，从方方面面，为大脑扩容储能，为自己涨姿势。想学，你就上呀！
                p 作为文化传承、体验共享的使者，EDU MALL不止是一个知识共享空间，它更是精神交流平添。所有学习者和授课者，都在这个社区发生真实的对话，从古至今，从西方到东方，从艺术到生活......在思维的交流与碰撞中，视野的局限将破打破，无限的潜能将被激发，人生格局将得到进一步开阔。
            ol.nav
                li #[a(href=viewUrl+'activity_article1.html') 下一篇 | Hello，欢迎来到无锡梦想天地]
block append js