extends ./share/container.pug
block config
    - var title = '主营业务';
    - var keywords = '主营业务';
    - var description = '主营业务';
    - var currentId = 'shop';
    - var mimgUrl = imgUrl+'shop/';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    #shoppage
        .banner_container
            img.responsive(src=mimgUrl+"shopbanner1.jpg", alt="")
        .container
            h1 外部建筑
            img.responsive(src=mimgUrl+"shoppic4.jpg", alt="")
            h1 内部场景
            .banner_box
                img.prev(src=`${mimgUrl}prev.png`, alt="")
                img.next(src=`${mimgUrl}next.png`, alt="")
                ul
                    li.pos_1
                        div
                            img(src=`${mimgUrl}layer16.jpg` alt='牌缘3D游戏图鉴')
                    li.pos_2
                        div
                            img(src=`${mimgUrl}layer17.jpg` alt='牌缘3D游戏图鉴')
                    li.pos_3
                        div
                            img(src=`${mimgUrl}layer18.jpg` alt='牌缘3D游戏图鉴')
                    li.pos_4
                        div
                            img(src=`${mimgUrl}layer19.jpg` alt='牌缘3D游戏图鉴')
                    li.pos_5
                        div
                            img(src=`${mimgUrl}layer20.jpg` alt='牌缘3D游戏图鉴')
block append js
    script(src=jsUrl+"layer.js")